
body {
	
font-family: 'Quattrocento Sans', sans-serif;
padding-top: 70px;
font-size:18px;
line-height: 170%;
}

.headings {
font-family: 'Lato', sans-serif;
font-size: 1.3em;
font-weight: bold;
line-height: 160%;
color: black;
}

.navbar-brand {
	font-family: 'Permanent Marker', cursive;
	text-decoration:  none; border-bottom: none; 
}
.navbar-brand:hover {
	text-decoration:  none; border-bottom: none; 
}


body b{
	font-weight: bolder;
	line-height: 160%;
}

body a {
text-decoration:  none; border-bottom: 1.2px dotted; color:black; font-weight: normal;

}

body a:hover{
text-decoration:  none; border-bottom: 1px solid; color:black; font-weight: bold;

}

.dotbar { border-top: 3px dotted; margin-top:20px}

#red {
color:#ff0000;
}

#ital {
font-style:italic;
}

#bolder {
font-weight: bold;
}

#more_space {
 line-height: 160%;
}

#med {
font-weight: 700;
}

.nav a{

font-weight: bold;
font-size: 110%;
border-bottom: 0px;
}

.nav a:hover{
	border-bottom: 0px;
}


.navbar-default .navbar-nav>.active>a{color:#000;background-color:#f8f8f8;text-decoration: underline;}
.navbar-default .navbar-nav a:hover{color:#000;background-color:#f8f8f8;text-decoration: underline;}

a.anchor{
display: block; 
position: relative; 
top: -70px; 
visibility: hidden;
}

.img-below{
	height:25px;
	margin:5px;
}

.col-md-3
{
	padding:25px;

}


#project
{
	border-bottom: 1px white solid;
	line-height: 25px;
	
}

#project:hover
{
	border-bottom: 1px solid;
	background-color:#F7F7F7;



	
}


